.str-video {
  /* --str-video__background-color: #ee2727; */
  color: white;
  /* --str-video__text-color1: #fff;
  --str-video__text-color2: #fff;
  --str-video__primary-color: #2563eb;
  --str-video__border-color: #e5e7eb; */
}

/* .str-video__participant-details__name {
  color: white;
}

.str-video__menu-container {
  color: white;
} */
